version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      SA_PASSWORD: "Password123!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    # Configurações específicas para Linux
    user: root
    privileged: true

  mercadinho-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
    depends_on:
      sqlserver:
        condition: service_healthy
    environment:
      ConnectionStrings__DefaultConnection: "Server=sqlserver;Database=MarketDB;User Id=sa;Password=Password123!;TrustServerCertificate=true;"
      ASPNETCORE_URLS: "http://*:8080"
    restart: on-failure

volumes:
  sqlserver_data: